<!-- start inscription -->
<div class="container col-md-6" *ngIf="!validationInscription && !confirmationInscription">
  <div>
      <h2 class="tiltle"> Inscription </h2>
  </div>
  <br>
  <form name="form" (ngSubmit)="f.form.valid && onSubmitInscription()" #f="ngForm" novalidate>
    <div class="form-group">
      <input type="text" class="form-control" nbInput name="name" placeholder="Nom" [(ngModel)]="userData.name" #name="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
      <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
        <span *ngIf="name.errors.required">Le nom est obligatoire</span>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" nbInput name="email" placeholder="Email" [(ngModel)]="userData.email" #email="ngModel" email
      [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required />
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
        <span *ngIf="email.errors.required">L'adresse email est obligatoire</span>
      </div>
      <div *ngIf="f.submitted && email.invalid && (userData.email != null && userData.email != '')" class="invalid-feedback">
        <span>Merci de rentrer une adresse email valide</span>
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" nbInput name="password" placeholder="Mot de passe" [(ngModel)]="userData.password"
        #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required />
      <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
        <span *ngIf="password.errors.required">Le mot de passe est obligatoire</span>
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" nbInput name="confirmation" placeholder="Confirmation" [(ngModel)]="userData.confirmation"
        #confirmation="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmation.invalid }" required />
      <div *ngIf="f.submitted && confirmation.invalid" class="invalid-feedback">
        <span *ngIf="confirmation.errors.required">La confirmation du mot de passe est obligatoire</span>
      </div>
      <div *ngIf="(userData.password !== userData.confirmation && (userData.confirmation != null && userData.confirmation  != ''))"
        class="invalide-champ">
        <span> Merci de rentrer le même mot de passe</span>
      </div>
    </div>
    <div class="form-group">
      <nb-checkbox status="success" name="termsConditions" [(ngModel)]="userData.termsConditions" required #termsConditions="ngModel"><span>J'accepte
          <a href="" target> <strong> les termes et conditions générales * </strong> </a> </span></nb-checkbox>
      <div *ngIf="f.submitted && termsConditions.invalid"> <span class="invalide-champ"> Merci d'accepter les conditions
          générales</span>
      </div>
      <div>
        <span>
          <nb-alert *ngIf="errorMessage != null" status="danger"> {{errorMessage}} </nb-alert>
        </span>
      </div>
    </div>
    <div class="form-group">
      <button nbButton status="success" >Inscription</button>
    </div>
    <div>
    </div>
  </form>
</div>
<!-- End  inscription -->

<!-- start confirmation inscription -->
<div class="container col-md-6" *ngIf="validationInscription && !confirmationInscription">
  <h2 class="tiltle"> Validation de votre inscription </h2>
  <form name="form" (ngSubmit)="f.form.valid && onSubmitValidation()" #f="ngForm" novalidate>
    <div class="form-group">
      <input type="text" class="form-control" nbInput name="email" placeholder="Email" [(ngModel)]="userData.email" #email="ngModel"
         [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required />
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
        <span *ngIf="email.errors.required">L'adresse email est obligatoire</span>
      </div>
      <div *ngIf="f.submitted && email.invalid && (userData.email != null && userData.email != '')" class="invalid-feedback">
        <span>Merci de rentrer une adresse email valide</span>
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" nbInput name="confirmationCode" placeholder="Code de confirmation " [(ngModel)]="userData.confirmationCode"
        #confirmationCode="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmationCode.invalid }" required />
      <div *ngIf="f.submitted && confirmationCode.invalid" class="invalid-feedback">
        <span *ngIf="confirmationCode.errors.required">Le code de confirmation est obligatoire</span>
      </div>
      <div>
          <span>
            <nb-alert *ngIf="errorMessage != null" status="danger"> {{errorMessage}} </nb-alert>
          </span>
        </div>
    </div>

    <div class="form-group">
      <button nbButton status="success" fullWidth>Validation</button>
    </div>
    <div>
    </div>
  </form>
</div>
<!-- End confirmation inscription -->

<!-- start validation inscription -->
<div class="container col-md-6" *ngIf="confirmationInscription">
  <h2 class="tiltle"> Confirmation de votre inscription </h2>
  <nb-card>
      <nb-card-body>
          Cher client, Nous sommes heureux de vous confirmer votre inscription à notre application. 
          Pour vous identifier lors de vos visites sur notre site, cliquez sur Connexion ou Mon compte en haut de toutes les pages du
          site, puis saisissez votre email et votre mot de passe <a href=""><strong>Connectez vous</strong> </a>
      </nb-card-body>
    </nb-card>
</div>
<!-- End validation inscription  -->